body {
	margin: 0;
	background-color: #424242;
	font-family: 'Varela Round', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.back {
	position: absolute;
	background-color: purple;
}

.title {
	text-align: center;
	color: #ff9028;
}

.swirlysmile {
	text-align: center;
}

.profilelink {
    color: lightblue;
    text-decoration: none;
}

.pills {
	justify-content: center;
	font-size: 5vw;
    display: grid;
    height: auto;
    grid-template-columns: auto auto;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
	background-color: #bf0000;
}

.blue {
	background-color: #0000bf;
}
